.wrapper{
    padding: 50px;
    min-height: 200px;
    background-color: rgb(19,19,19);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    position: relative;
}


.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.customlink {
    color: white;
    text-decoration: none;
    font-size: clamp(20px,1.5vw,50px);
  }
  
  /* Optionally, you can add styles for hover and focus states if needed */
  .customlink:hover,
  .customlink:focus {
    scale: 1.15;
    transition: .3s;
    /* Add any other styles you want for hover and focus states */
  }

  .icons{
    width: auto;
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icons img{
    height: clamp(30px, 3vw ,50px);
    width: clamp(30px, 3vw ,50px);
}

.info_f span{
    color: white;
    font-size: clamp(15px , 2vw , 20px );
}

.info_f{
    display: flex;
    gap:20px;
}

.icon{
    animation: breath 2s infinite;
}


@keyframes breath {
    0%{
        scale: 1;
    }
    
    50%{
        scale: 1.1;
    }
    
    100%{
        scale: 1;
    }
}

@media screen and (699px < width < 800px) {

    .wrapper{
        padding: 50px;
        min-height: 200px;
        width: 100%;
        background-color: rgb(19,19,19);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .icons{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (480px < width < 700px) {
    .info_f{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {

    .nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .wrapper{
        padding: 5px;
        height: auto;
        width: 100%;
        background-color: rgb(19,19,19);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .info_f{
        display: flex;
        flex-direction: column;
    }

    .icons{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}