.BD{
    height:auto;
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

.Ser{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 998;
}

.Ser h1{
    font-size: 3rem;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(33, 95, 176)
    /* animation: up_1 1s linear ; */
}

.Sub_BD{
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 999;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;
    padding: 10px;
    background-color: white;
}

@keyframes up_1{


    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    70%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.cd_1{
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    width: 50%;
    background-color: #38419D;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.data h3{
    font-size: clamp(10px ,1vw + 15px, 30px);
    font-family: Haffer, sans-serif;
    font-weight: 300;
}

.data p {
    font-size: clamp(10px ,1vw + 10px, 50px);
    color: black;
    text-align: center;
}



.sp{
    color: #38419D;
}

.sp2{
    color: green;
}
.sp3{
    color:#9BB8CD;
}
.sp4{
    color: #F4F27E;
}


.pop{
    position: absolute;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-name: float;
    animation-duration: 2s;
    transition: 1s smooth transition;
    animation-iteration-count: infinite;
}

.pop p{
    font-size: 1rem;
    color: white;
}

.b1{
    background-color: red;
    left: 200px;
    
}
.b2{
    background-color:  green;
    left: 60px;
    bottom: 80px;
    animation-delay: 0.5s;
}

.b3{
    background-color: yellow;
    right: 30px;
    bottom: 120px;
    animation-delay: 1s;
}

.b4{
    background-color: orange;
    top: 60px;
    left: 60px;
    animation-delay: 1.5s;
}

.b5{
    background-color: pink;
    right: 90px;
    top: 40px;
    animation-delay: 2s;

    

}


@keyframes float{
    0%{
        opacity: 0.6;
        scale: 1;
    }
    50%{
        opacity: 1;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: white;
}

.page_1_H{
    position: sticky;
    top:0;
    z-index: 991;
}
.page_2_H{
    top: 0;
    position: sticky;
    z-index: 992;
}
.page_3_H{
    top: 0;
    position: sticky;
    z-index: 993;
}
.page_4_H{
    top: 0;
    position: sticky;
    z-index: 994;
}

.page_2{
    background-color: green;
}
.page_3{
    background-color: #9BB8CD;
}
.page_4{
    background-color: #F4F27E;
}

.cd_1 img{
    height: 60%;
    width: 70%;
}


@media screen and (1024px < width < 1300px) {

    .data {
        height: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .cd_1 img{
        height: 60%;
        width: 80%;
    }

    .cd_1{
        position: relative;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px;
        width: 60%;
        background-color: #38419D;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page_2{
        background-color: green;
    }
    .page_3{
        background-color: #9BB8CD;
    }
    .page_4{
        background-color: #F4F27E;
    }

}

@media screen and (768px < width < 1025px) {

    .data {
        height: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .cd_1 img{
        height: 40%;
        width: 80%;
    }

    .cd_1{
        position: relative;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px;
        width: 50%;
        background-color: #38419D;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page_2{
        background-color: green;
    }
    .page_3{
        background-color: #9BB8CD;
    }
    .page_4{
        background-color: #F4F27E;
    }


    

}

@media screen and (480px < width < 769px) {

    .data {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .cd_1 img{
        height: 500px;
        width: 80%;
    }

    .cd_1{
        position: relative;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: #38419D;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page_2{
        background-color: green;
    }
    .page_3{
        background-color: #9BB8CD;
    }
    .page_4{
        background-color: #F4F27E;
    }

    .Sub_BD {
        display: flex;
        flex-direction: column;
        height:100%;
        width: 100%;
        z-index: 999;
        justify-content: flex-end;
        align-content: center;
        gap: 20px;
        padding: 10px;
    }

}
@media screen and (max-width : 480px) {

    .data {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .cd_1 img{
        height: 250px;
        width: 80%;
    }

    .cd_1{
        position: relative;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: #38419D;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page_2{
        background-color: green;
    }
    .page_3{
        background-color: #9BB8CD;
    }
    .page_4{
        background-color: #F4F27E;
    }

    .Sub_BD {
        display: flex;
        flex-direction: column;
        height:600px;
        width: 100%;
        z-index: 999;
        justify-content: flex-end;
        align-content: center;
        gap: 20px;
        padding: 10px;
    }

}
